<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Alma Set Upload</title>
</head>
<body>
<h1>Upload a single Alma export file to restart withdraw process.</h1>

<!--withdraw/process -->
<form action="/withdraw/restart" method="post" enctype="multipart/form-data">
    <label for="file_upload">Upload a file</label>
    <input type="file" name="file" id="file_upload" aria-required="true"><br><br>
    <fieldset>
      <legend>Choose stage (required)</legend>
      <input type = "radio" name="stage" id="status" value="status">
      <label for="status">status</label><br>
      <input type = "radio" name="stage" id="unlink" value="unlink">
      <label for="unlink">unlink</label><br>
      <input type = "radio" name="stage" id="suppress" value="suppress">
      <label for="suppress">suppress</label><br>
      <input type = "radio" name="stage" id="unset" value="unset">
      <label for="unset">unset</label><br>
    </fieldset>
    <label for="worker">Select a worker to use for this batch</label>
    <select name="worker" id="worker">
      <option value="1">worker 1</option>
      <option value="2">worker 2</option>
      <option value="3">worker 3</option>
    </select><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>
